#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 8px;
}
#friends-display-link i {
  color: #2f363e;
}

.user-components__column {
  display: flex;
}
