.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}
.screen-header__icon {
  display: flex;
  position: relative;
}
.screen-header__icon span {
  margin-left: 20px;
}

.screen-header__new {
  display: flex;
  position: absolute;
  right: -5px;
  bottom: 20px;
}
