.user-components {
  display: flex;
  align-items: center;
}

.user-components__column {
  display: flex;
  align-items: center;
}

.user-components__avator {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-components__avator--xl {
  width: 80px;
  height: 80px;
}
.user-components__title {
  font-size: 20px;
  font-weight: 600;
}
.user-components__subtitle {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
