.user-components {
  display: flex;
  align-items: center;
  border-bottom: 20px;
  justify-content: space-between;
}

.user-components__column {
  display: flex;
  align-items: center;
}
.user-components__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-components__column .fa-comment-alt {
  color: black;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-components__avator {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-components__avator--xl {
  width: 80px;
  height: 80px;
}
.user-components__avator--sm {
  width: 60px;
  height: 60px;
}
.user-components__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.user-components__title--not-bold {
  font-weight: 400;
}
.user-components__subtitle {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}
.user-components__account {
  display: flex;
  align-items: center;
}
.user-components__account span {
  color: tomato;
}
.fa-chevron-right {
  padding-left: 5px;
}
