.user-components {
  display: flex;
  align-items: center;
  border-bottom: 20px;
  justify-content: space-between;
}

.user-components__column {
  display: flex;
  align-items: center;
}

.user-components__avator {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-components__avator--xl {
  width: 80px;
  height: 80px;
}
.user-components__avator--sm{
  width: 60px;
  height: 60px;
}
.user-components__title {
  font-size: 20px;
  font-weight: 600;
}
.user-components__title--not-bold{
  font-weight: 400;
}
.user-components__subtitle {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.user-components__column:last-child{
  color: rgba(0, 0, 0, 0.5);
}

.fa-chevron-right{
  padding-left: 5px;
}